<div class="row">
    <div class="col-md-4">
        <img src="assets/images/loginimage.jpg" alt="">
    </div>

    <div class="col-md-8">

        <div *ngIf="formSuccess" class="alert alert-success" role="alert">
           Sign Up Successfull
        </div>

        <div *ngIf="formDanger" class="alert alert-danger" role="alert">
            Some form fields are missing.
        </div>


        <div class="card">
            <div class="card-header">
                <h1>User Form</h1>
            </div>

            <div class="card-body">

                <form #userForm="ngForm" (ngSubmit)="saveRecord(userForm)">

                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="text" placeholder="Username" class="form-control" name="txtUsername" ngModel>
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="email" placeholder="Email Id" class="form-control" name="txtEmailId" ngModel>
                        </div>
                    </div>


                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="radio" id="male" name="gender" class="col-md-1" ngModel value="male"> 
                            <label for="male" class="pl-2">Male</label>
                            <input type="radio" id="female" name="gender" class="col-md-1" ngModel value="Female"> 
                            <label for="female" class="pl-2">Female</label>
                        </div>
                    </div>


                    <div class="row m-2">
                        <div class="col-md-6">
                            <select name="dropdownLocation" class="form-control" ngModel>
                                <option *ngFor="let key of locations" value="{{key.pincode}}">{{key.city}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="password" placeholder="Password" class="form-control" name="txtPassword"
                                ngModel>
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="password" placeholder="Confirm Password" class="form-control"
                                name="txtConfirmPassword" ngModel>
                        </div>
                    </div>

                    <div class="row m-2">
                        <div class="col-md-6">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>