<h3>Filter Table Records</h3>

<select class="form-control col-md-3 m-3" (change)="autherClick($event)">
    <option *ngFor="let key of authers" value="{{key}}">{{key}}</option>
</select>
<div class="row">

    <div class="col-md-4">
        <input type="text" placeholder="Search Subject" class="form-control m-3">
    </div>

    <div class="col-md-2">
        <input type="button" value="Search" class="btn btn-primary m-3">
    </div>

</div>




<table class="table table-hover m-3">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Book Name</th>
            <th>Auther Name</th>
            <th>Year</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let key of bookrecords">
            <td *ngIf="key.auther ==filter || filter=='All'">{{key.isbn}}</td>
            <td *ngIf="key.auther ==filter || filter=='All'">{{key.bookname}}</td>
            <td *ngIf="key.auther ==filter || filter=='All'">{{key.auther}}</td>
            <td *ngIf="key.auther ==filter || filter=='All'">{{key.year}}</td>
        </tr>
    </tbody>

</table>