<h3 style="color:red;">Event Binding Examples</h3>
<hr>
<p> <b>Example1:</b> 
    <input type="button" (click)="buttonClick()" value="Click Here" class="btn btn-primary ml-4"> 
</p>


<p> <b>Example2:</b> 
    <input type="button" (click)="clickMe($event)" value="First" class="btn btn-primary ml-4"> 
    <input type="button" (click)="clickMe($event)" value="Second" class="btn btn-primary ml-4"> 
    <input type="button" (click)="clickMe($event)" value="Third" class="btn btn-primary ml-4"> 
    <input type="button" (click)="clickMe($event)" value="Fourth" class="btn btn-primary ml-4"> 
    <input type="button" (click)="clickMe($event)" value="Fifth" class="btn btn-primary ml-4"> 
</p>